.scene {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.zatmaveni {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.postava-intro {
  position: absolute;
  right: 10%;
  height: 60%;
  z-index: 2;
}

.nadpis {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  z-index: 2;
  width: 25%;
  height: auto;
}

.start-tlacitko {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
  color: white;
  padding: 15px 30px;
  font-size: 1.5rem;
  z-index: 2;
}

.start-tlacitko:hover {
  transform: scale(1.05);
}