.scene {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.zatmaveni {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.postava-intro {
  position: absolute;
  right: 10%;
  height: 60%;
  z-index: 2;
}

.nadpis {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  z-index: 2;
  width: 25%;
  height: auto;
}

.start-tlacitko {
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translateX(-50%);

  border: none;
  background: transparent;
  z-index: 2;
}

.start-tlacitko__img {
  display: block;
  width: 200px;
  height: auto;
}

.start-tlacitko:hover .start-tlacitko__img {
  transform: scale(1.05);
}
