.inventory-bar {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);

  width: 750px;
  height: 125px;

  background-image: url("/src/assets/ramecky.png");
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 4px solid red; /* debug, odstranit */
}

.inventory-slot {
  width: 90px;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid blue; /* debug, odstranit */
}
