.scene {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.start-tlacitko {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
  color: white;
  padding: 15px 30px;
  font-size: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  top: 80%;
  z-index: 2;
  border: none;
}

.start-tlacitko:hover {
  transform: translateX(-50%) scale(1.1);
}