.inventory-bar {
  position: absolute;
  top: 1%;
  right: 1%;
  background: linear-gradient(45deg, rgba(83, 65, 38, 1), rgba(83, 65, 38, 0.8));
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10px;
}


.inventory-slot {
  width: 75px;
  aspect-ratio: 1 / 1;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .inventory-slot {
    width: 60px;
  }

}

@media (max-width: 850px) {
  .inventory-slot {
    width: 50px;
  }
}

.inventory-item {
  max-width: 100%;
  max-height: 100%;
}