.inventory-bar {
  position: absolute;
  top: 1%;
  right: 1%;
  background-color: rgba(255, 255, 255, 0.4);
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


.inventory-slot {
  width: 75px;
  height: 75px;
  margin: 14px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inventory-item {
  max-width: 100%;
  max-height: 100%;
}