.notification-container {
    position: absolute;
    top: 0.5%;
    left: 5%;
    z-index: 100;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(60, 60, 60, 0.85));
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    pointer-events: none;
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}