.notification-container {
    position: absolute;
    top: 0.5%;
    left: 10%;
    z-index: 100;
    background: linear-gradient(to bottom, rgba(81, 54, 25, 1), rgba(81, 54, 25, 0.7));
    color: #D3CCB9;
    padding: 10px 20px;
    border: 2px solid #301500;
    border-radius: 5px;
    pointer-events: none;

    /* DŮLEŽITÉ: Základní stav je schovaný (posunutý o 200% své výšky nahoru) */
    transform: translateY(-200%);
    opacity: 0;

    /* Animace běží 3 sekundy a zůstane ve stavu 100% (forwards) */
    animation: slide-in-out-top 2s ease-in-out forwards;
}

@keyframes slide-in-out-top {

    /* Začátek: prvek je nahoře mimo */
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }

    /* Příjezd: během první půlvteřiny sletí na top: 0.5% */
    15% {
        transform: translateY(0);
        opacity: 1;
    }

    /* Setrvání: drží na místě */
    85% {
        transform: translateY(0);
        opacity: 1;
    }

    /* Odjezd: vyletí zpět nahoru */
    100% {
        transform: translateY(-200%);
        opacity: 0;
    }
}