.overlay-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
}

.overlay-container {
  position: relative;
  display: inline-block;
  width: auto;
  height: 80%;
}

.overlay {
  position: relative;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 10;
}

.overlay-img {
  width: auto;
  height: 100%;
}

.overlay-close-button {
  position: absolute;
  top: 0;
  right: -2%;
  color: red;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 60px;
  font-weight: 900;
  z-index: 20;
  padding: 0;
  line-height: 0;
  transition: transform 0.2s, background 0.2s;
}

.overlay-close-button:hover {
  transform: scale(1.2);
}

.phone-display {
  position: absolute;
  bottom: 83%;
  left: 54%;
  transform: translateX(-50%);
  font-size: 2rem;
  letter-spacing: 1rem;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .phone-display {
    font-size: 1.7rem;
    letter-spacing: 0.7rem;
  }
}

.phone-buttons {
  position: absolute;
  bottom: 23%;
  left: 55%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  height: 50%;
  width: 22%;
  margin: 0;
  padding: 0;
}

.phone-btn,
.phone-btn-enter,
.phone-btn-clear {
  height: 86%;
  font-size: 1.5rem;
  border-radius: 6px;
  border: none;
  background: #222;
  color: white;
  cursor: pointer;
  background-color: transparent;
  margin: 0;
}

.phone-btn:active {
  transform: scale(0.95);
}


.phone-btn-enter,
.phone-btn-clear {
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: transparent;
  transition: transform 0.1s;
}

@media (max-width: 850px) {
  .phone-display {
    font-size: 1rem;
    letter-spacing: 0.4rem;
  }

  .phone-btn {
    font-size: 0.9rem;
  }

  .phone-btn-enter,
  .phone-btn-clear {
    font-size: 0.75 rem;
  }
}


.phone-btn:hover,
.phone-btn-enter:hover,
.phone-btn-clear:hover {
  transform: scale(1.1);
}

.phone-btn-enter {
  border: none;
}

.phone-btn-clear {
  grid-column: 3;
  border: none;
}



.lever-up {
  position: absolute;
  top: 30%;
  height: 30%;
}

.lever-down {
  position: absolute;
  top: 50%;
  height: 30%;
}