.postava-sc1 {
  position: absolute;
  left: 50%;
  bottom: 10%;
  height: 50%;
}

.sc1-tlacitko {
  position: absolute;
  background: rgba(255, 0, 0, 0.5);
  /* debug */
  cursor: pointer;
}

.inventar-sc1 {
  position: absolute;
  right: 30%;
  top: 0%;
  z-index: 2;
}

.dialogText {
  position: absolute;
  left: 50%;
  top: 22%;
  background-color: black;
  color: lightgray;
}