.postava-sc2 {
  position: absolute;
  left: 65%;
  bottom: 0%;
  height: 67%;
}

.overlay-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
}

.overlay {
  position: relative;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 10;
}

.overlay-img {
  width: 100%;
  height: 100%;
}

.overlay-close-button {
  position: absolute;
  top: 0;
  right: -2%;
  color: red;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 60px;
  font-weight: 900;
  z-index: 20;
  padding: 0;
  line-height: 0;
  transition: transform 0.2s, background 0.2s;
}

.overlay-close-button:hover {
  transform: scale(1.2);
}

.phone-display {
    position: absolute;
    top: 18%;
    left: 54%;
    transform: translateX(-50%);
    font-size: 2rem;
    letter-spacing: 2rem;
    font-weight: bold;
}


.phone-buttons {
    position: absolute;
    bottom: 29%;
    left: 54%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 18%;
}

.phone-btn {
    height: 90px;
    font-size: 1.5rem;
    border-radius: 6px;
    border: none;
    background: #222;
    color: white;
    cursor: pointer;
    background-color: transparent;
}

.phone-btn:active {
    transform: scale(0.95);
}


.phone-btn-enter, .phone-btn-clear {
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: transparent;
    transition: transform 0.1s;
}

.phone-btn:hover, .phone-btn-enter:hover, .phone-btn-clear:hover {
    transform: scale(1.1);
}

.phone-btn-enter {
    border: none;
    margin-top: 0.75rem;
}

.phone-btn-clear {
    grid-column: 3;
    border: none;
}

