.inventar {
    position: absolute;
    left: 50%;
    /* Vycentrování horizontálně */
    transform: translateX(-50%);
    top: 2%;
    /* Mezera od horního okraje v % */
    width: 40vw;
    /* Šířka inventáře v % z herní plochy */
    max-width: 800px;
    /* Maximální velikost, aby to na 4K monitoru nebylo obří */
    z-index: 10;
}

.dialogText {
    position: absolute;
    left: 50%;
    top: 22%;
    background-color: black;
    color: lightgray;
}

.buttonBack {
    position: absolute;
    bottom: 3%;
    left: 3%;
    z-index: 10;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 1.2rem;
    cursor: pointer;
}

.buttonBack:hover {
    transform: scale(1.1);
}